<strong> Olá, seja muito bem vindo {{ student }}</strong>
<p>
    Obrigado por se matricular conosco. <br />
    Seguem abaixo os detalhes de sua matrícula:
</p>
<p>
  <strong>Aluno: </strong> {{student }} <br/>
  <strong>Plano: </strong> {{plan }} <br/>
  <strong>Valor Total: </strong> R$ {{price }} <br/>

  <strong>Início: </strong> {{start_date}} <br/>
  <strong>Fim: </strong> {{end_date}} <br/>
  <br />
  <small>
    Qualquer dúvida, favor entrar em contato conosco.
  </small>
</p>
